# dependencies
/node_modules

# agent
/agent/

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
.playwright-mcp/

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
